body {
    background-size: 100%;
    text-align:center;
}
.heading {
    padding:10px;
    border-radius: 20px;
    color:darkcyan;
    font-size: 45px !important;
    font-family: 'Mate SC', serif;
    font-weight: bold;
}
.heading img {
    width:60px;
    margin-left:10px;
}
#object_input {
    color:pink;
    background-color: blue;
    font-size:18px;
    margin-top: 10px;
    width:300px;
    text-align: center;
    height:40px;
    border:5px solid rgb(184, 245, 184);
    border-radius: 5px;
    margin-top:15px;
}
#object_input::placeholder {
    color:white;
}

#start , #no_of_objects , #status {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
    margin-top:10px !important;
    width:fit-content;
    margin-right: 10px;
}
footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(226, 225, 225);
    padding: 20px;
    width:100%;  
}
i {
    font-size:25px;
}
canvas {
    margin-bottom:2px;
    border:outset 7px;
    border-radius: 20px;
}